.title{
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0px;
}
@media(max-width:500px){
    .title{
        font-size: 2.5rem;
    }
}